@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/* LOGO font */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

/* default styling */
* {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
p {
    font-size: 20px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100vw;
}
.nav-wrapper {
    background-color: white;
}

.nav-list {
    display: inline-block;
}
.nav-list li{
    display: inline-block;
    background-color: white;
}
.nav-link {
    text-decoration: none;
    color: black;
    display: block;
}

nav {
    display: flex;
}

.logo {
    font-family: 'Caveat', cursive;
    font-size: 36px;
    margin-left: 20px;
    padding: 10px 20px;
}

.big-picture {
    background-image: url('./images/softpink.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    text-align: end;
}
.big-picture h2{
    font-size: 70px;
}
.big-picture p{
    font-size: 30px;
}



/* Mobile mediaquery */
@media screen and (max-width: 750px) {

    /* creating burger-menu */
    nav {
        display: block;
        position: relative;
        overflow: hidden;
    }
    .nav-link {
        padding: 8px 0;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-top: solid rgb(230, 230, 230) 1px;
    }
    .nav-list {
        display: flex;
        flex-direction: column;
    }
    .nav-wrapper {
        position: relative;
        overflow: hidden;
    }

    .logo {
        display: block;
    }
    .nav-burger {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
    }
    
    .nav-burger-inner,
    .nav-burger-inner::before,
    .nav-burger-inner::after {
        content: '';
        display: block;
        position: absolute;
        background-color: black;
        height: 5px;
        width: 70%;
        transition: all ease-in-out 200ms;
    }

    .nav-burger-inner::before {
        top: 10px;
        width: 100%;
    }

    .nav-burger-inner::after {
        bottom: 10px;
        width: 100%;
    }

    .nav-burger__active::before {
        transform: translateY(-100%);
        opacity: 0;
    }

    .nav-burger__active::after {
        transform: translateY(100%);
        opacity: 0;
    }
    .list-wrapper {
        display: none;
        overflow: hidden;
    }

    .nav-list {
        transition: all ease-in-out 200ms;
        transform: scaleY(0);
    }

    .nav-list__active {
        transform: scaleY(1);
    }

}

/* Desktop mediaquery */
@media screen and (min-width: 751px) {  
    .nav-burger {
        display: none;
    }
}