@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/* LOGO font */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

/* default styling */
* {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

html nav {
    -webkit-tap-highlight-color: rgba(230, 230, 230, .3);
}

p {
    font-size: 20px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

header {
    z-index: 1000;
    position: fixed;
    width: 100vw;
    background-color: white;
}
.nav-wrapper {
    background-color: white;
}

.nav-list {
    display: inline-block;
}
.nav-list li{
    display: inline-block;
    background-color: white;
}
.nav-link {
    text-decoration: none;
    color: black;
    display: block;
}

.header-spacing {
    width: 100%;
    height: 66px;
}

nav {
    display: flex;
    user-select: none;
    max-width: 900px;
    
}

.logo {
    font-family: 'Caveat', cursive;
    font-size: 36px;
    padding: 10px 20px 10px 0;
    cursor: pointer;
}

.big-picture {
    background-image: url('./images/softpink.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    user-select: none;
}
.big-picture h2{
    font-size: 70px;
}
.big-picture p{
    font-size: 26px;
}

div.wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-wrapper {
    margin-left: 20px;
}

section {
    padding: 50px 0;
}

.paragraph-section p {
    margin-bottom: 20px;
}

nav {
    margin: 0 auto;
    max-width: 900px;
}

.image-description {
    background-color: #f8b7cd;
}

.description-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.description-elements h3 {
    margin-bottom: 6px;
}

.text-description {
    background-color: #fff;
    padding: 20px 10px;
}

.image-description .wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-auto-flow: dense; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    gap: 10px;
}

.big-image {
    grid-column: auto / span 2;
}

.image-description .wrapper > div > img {
    height: auto;
    width: 100%;
    user-select: none;
}

.contacts {
    background-color: #aacdee;
    color: #fff;
}

fieldset {
    border: none;
}

fieldset > * {
    display: block;
}


input {
    border-radius: 0;
    border: none;
}

input:focus {
    outline: none;
}



/* Mobile mediaquery */
@media screen and (max-width: 750px) {

    /* creating burger-menu */
    nav {
        display: block;
        position: relative;
        
        background-color: white;
    }
    
    .nav-link {
        padding: 8px 0;
        color: black;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-top: solid rgb(230, 230, 230) 1px;
    }
    
    .nav-link-last {
        border-bottom: solid rgb(230, 230, 230) 1px;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
    }
    .nav-wrapper {
        position: relative;
        overflow: hidden;
    }

    .logo {
        display: block;
    }
    .nav-burger {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
    }
    
    .nav-burger-inner,
    .nav-burger-inner::before,
    .nav-burger-inner::after {
        content: '';
        display: block;
        position: absolute;
        background-color: black;
        height: 5px;
        width: 70%;
        transition: all ease-in-out 200ms;
    }

    .nav-burger-inner::before {
        top: 10px;
        width: 100%;
    }

    .nav-burger-inner::after {
        bottom: 10px;
        width: 100%;
    }

    .nav-burger__active::before {
        transform: translateY(-100%);
        opacity: 0;
    }

    .nav-burger__active::after {
        transform: translateY(100%);
        opacity: 0;
    }
    .list-wrapper {
        position: absolute;
        width: 100%;
        background-color: rgba(255, 255, 255, 0);
        overflow: hidden;
        transform: translateY(-200%);
        transition: all ease-in-out 0ms 200ms;
    }
    
    .list-wrapper__active {
        transform: translateY(0);
        transition: all ease-in-out 0ms;
    }

    .nav-list {
        transition: all ease-in-out 200ms;
        transform: translateY(-100%);
    }

    .nav-list__active {
        transform: translateY(0);
        
    }

    .big-picture div{
        padding: 30px 20px;
    }
    .big-image {
        display: none;
    }
}

/* Desktop mediaquery */
@media screen and (min-width: 751px) {  
    .nav-burger {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .list-wrapper {
        margin-right: 20px;
    }
    
    .nav-list {
        display: flex;
        align-items: center;
        height: 100%; 
    }

    
    .nav-link {
        padding: 16px 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
    }

    .nav-link:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 15%;
        left: calc(50% - 1px);
        transform: translateX(-50%);
        height: 3px;
        width: 0;
        background: #c0d8ee;
        transition: all ease-in-out 300ms;
        transform-origin: center;
    }

    .nav-link:hover:after {
        width: 20%;
    }

    .big-picture {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .big-picture .wrapper{
        text-align: center;
    }

    .big-picture .wrapper > * {
        margin-bottom: 30px;
    }

    .header-spacing {
        height: 0;
    }

}